---
import Layout from '../../layouts/Layout.astro'
import SpanFeatured from '../../components/common/SpanFeatured.astro'
---

<Layout title="Contacto">
  <main class="mt-20 w-full grid gap-2">
    <section class="flex w-full md:w-8/12 mx-auto max-w-[1000px]">
      <div class="relative flex justify-center">
        <h1
          class="absolute bg-[#d9d9d988] w-10/12 rounded-xl h-10 text-center text-2xl sm:text-3xl md:text-4 md:h-14 md:pt-2 lg:text-5xl lg:h-28 lg:w-11/12 lg:pt-7"
        >
          Contáctanos
        </h1>
        <div class="grid md:flex">
          <img
            src="/images/bg-contact.webp"
            alt="img contact us"
            class="w-10/12 mx-auto rounded-xl md:w-full md:object-cover"
          />
          <div
            class="grid md:items-center md:content-center md:translate-y-[50%] md:mx-auto md:absolute md:rounded-2xl md:h-4/6 md:bg-[rgb(217,217,217,0.85)] md:w-3/5 xl:h-3/5"
          >
            <img
              src="/images/logo.webp"
              class="h-12 md:h-24 mx-auto md:mb-3"
              alt="Yavo capital Logo"
            />
            <p
              class="w-9/12 mx-auto my-3 sm:text-md md:w-10/12 lg:text-2xl lg:mt-12 xl:text-3xl xl:p-6"
            >
              <SpanFeatured text="A continuación" />
              te proporcionamos todos nuestros medios de contacto para que puedas
              solicitar más información acerca de nuestros servicios:
            </p>
            <p class="w-10/12 mx-auto my-3 sm:text-md lg:text-2xl">
              <SpanFeatured text="Dirección: " />
              José María Velasco 13, Benito Juárez, CDMX. C.P. 03900. México:
            </p>
            <div class="flex w-full mx-auto sm:text-md">
              <p class="mx-auto my-3 sm:text-md lg:text-xl xl:text-2xl">
                <SpanFeatured text="Teléfono: " />
                55-4165-3386
              </p>
              <p class="mx-auto my-3 sm:text-md lg:text-xl xl:text-2xl">
                <SpanFeatured text="WhatsApp:" /> 55-6221-0182
              </p>
            </div>
            <p class="mx-auto my-3 sm:text-md lg:text-xl xl:text-2xl">
              <SpanFeatured text="ventas@yavocapital.com" />
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
