---
import Layout from '../layouts/Layout.astro'
import ModuleFeature from '../components/module/ModuleFeature.astro'
import ModuleInfo from '../components/module/ModuleInfo.astro'
---

<Layout title="Yavo Capital">
  <main class="mt-20 mb-5 w-full grid gap-2">
    <ModuleFeature />

    <ModuleInfo />
  </main>
</Layout>
