<section
  class={`relative mb-10 w-full bg-[url('/images/forbes-mexico-logo.webp')] bg-center bg-repeat bg-gray-200 grid`}
>
  <h2
    class="text-xl sm:text-3xl md:text-4xl lg:text-5xl text-center my-5 uppercase font-bold lg:w-11/12 lg:mx-auto"
  >
    Descubre lo que los medios hablan de YAVO Capital:
  </h2>
  <div class="grid md:grid-flow-col lg:w-10/12 lg:mx-auto">
    <img
      src="/images/opinion-forbes.webp"
      class="rounded-[50%] w-[300px] h-[300px] object-cover mx-auto p-5 md:col-start-2 lg:w-[400px] lg:h-[400px]"
      alt="forbes image"
    />
    <div class="grid">
      <p class="text-center text-lg font-bold md:text-2xl lg:text-3xl">
        "Con producto crediticio buscan impulsar vivienda y economía de México:
      </p>
      <p class="text-center italic md:text-lg lg:text-2xl">
        Crédito Integral está dirigido a los desarrolladores de vivienda social
        y sus ventajas, de acuerdo con jugadores financieros del sector como
        Yavo Capital, generarían una derrama económica de alrededor de 30,000
        MDP y detonarían 72 ramas económicas".
      </p>
      <a
        href="https://www.forbes.com.mx/con-producto-crediticio-buscan-impulsar-vivienda-y-economia-de-mexico/"
        class="justify-center mx-auto items-center py-3 px-5 text-2xl text-center text-black hover:text-white rounded-lg border border-black/80 hover:bg-orange-700 focus:ring-4 hover:border-orange-700 w-[300px] font-semibold h-[70px]"
        target="_blank">Ver nota completa</a
      >
    </div>
  </div>
</section>
