---
import Phone from './Phone.astro'
---

<div class="text-white text-justify grid w-11/12 md:grid-cols-1 mx-auto">
  <div class="flex mb-4">
    <img
      class={'w-[200px] mx-auto my-auto md:mx-auto md:w-11/12 lg:w-8/12 xl:w-4/12'}
      src={'/images/logos/logo-yavo.webp'}
    />
    <div class="md:my-auto">
      <h3
        class="text-md w-10/12 mx-auto md:w-full md:text-xl my-auto md:mb-3 lg:text-xl"
      >
        YAVO CAPITAL, S.A.P.I. DE C.V., SOFOM, E.N.R. UNIDAD ESPECIALIZADA DE
        ATENCIÓN A USUARIOS (UNE)
      </h3>
    </div>
  </div>
  <Phone />
</div>
