---
import Description from './Description.astro'
import Social from './Social.astro'
---

<footer class="bg-indigo-950 flex flex-col md:p-4">
  <div class="grid grid-cols-2">
    <Description />
    <Social />
  </div>
  <div>
    <p class="text-sm w-10/12 mx-auto md:w-full md:text-md text-slate-400 mt-4">
      En cumplimiento a lo establecido en la Ley de Protección y Defensa de los
      Usuarios de Servicios Financieros, ponemos a su disposición la Unidad
      Especializada de Atención a Usuarios, que tiene por objeto atender las
      consultas, reclamaciones y aclaraciones de nuestros Clientes.
    </p>
  </div>
</footer>
